<header class="container">
  <h1>Angular testing</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione consequatur modi et consectetur, ducimus, iure animi expedita blanditiis earum libero quam cumque illo fugit! Non ratione maiores laboriosam tenetur consequuntur, quos praesentium beatae facilis, id iure nostrum nesciunt, ad officiis? Modi impedit ad, magnam tempore molestiae libero pariatur exercitationem ullam!</p>
  <nav>
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/person">Person</a>
      </li>
      <li>
        <a routerLink="/products">Products</a>
      </li>
      <li>
        <a routerLink="/others">others</a>
      </li>
      <li>
        <a routerLink="/pico-preview">Pico Preview</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
